@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.title {
    color: rgb(155, 60, 60);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
 }

.radio_buttons {
    position: absolute;
    left: 350px;
    bottom: 280px;
    
}



